body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 10px; /* Добавляем отступ сверху */
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input {
    margin-bottom: 15px;
}

.input input {
    width: 100%;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px; /* Добавляем закругление для input */
}

button {
    background-color: #ffffff; /* Белый фон */
    color: #000000; /* Черный текст */
    border: 1px solid #000000; /* Черная обводка */
    border-radius: 10px; /* Закругление углов */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Курсор при наведении */
}

button:hover {
    background-color: #f0f0f0;
}
.back{
    margin-top: 10px;
}
